.poster {
    margin: 16px;
}

.carrousel {
    display: flex;
}

.poster {
    aspect-ratio: 1/var(--sqrt-2);
    height: 300px;
    flex: 0 0 auto;
    margin: 16px;
    border-radius: 6px;
    transition: transform 0.2s cubic-bezier(0.12, 0.23, 0.44, 1.54);
}

.poster:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.placeholder {
    background-color: var(--theme-color-dark-background);
}

.descripcion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 300px;
    width: 0;
    opacity: 0;
    animation: aparecer 0.5s forwards;
}

@keyframes aparecer {
    60% {
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

.descripcion_inactiva {
    animation: desaparecer 0.5s forwards;
    max-height: 300px;
    width: 100%;
    opacity: 1;
}

@keyframes desaparecer {
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        width: 0;
        display: none;
    }
}

.elem {
    margin: 12px 0;
}

.sinopsis {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;

    line-clamp: 3;
    -webkit-line-clamp: 3;
}