.carrousel {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;

    --poster-height: 300px;
    --poster-width: calc(var(--poster-height)/var(--sqrt-2) + 2rem + 0.3rem/2);
}

.card {
    border-radius: 0.5rem;
    background-color: var(--color-light-background);
    margin: 0;
    padding: 1rem;
    position: relative;

    width: calc(90vw - 2 * var(--poster-width));
    height: calc(var(--poster-height) + 2rem);
    transition: width 0.5s;

    flex-grow: 1;
    flex-shrink: 1;

    cursor: pointer;
}

.card > .card_content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 1rem;

    position: absolute;
    inset: 1px;
  
    z-index: 2;
    padding: 1rem;
    border-radius: inherit;

    background-color: var(--color-background);
}

/* Glow effect */
.card:hover::before,
.carrousel:hover .card::after {
    opacity: 1;
}

.card::before,
.card::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: opacity 0.5s;

    border-radius: inherit;
}

.card::before {
    background: radial-gradient(70vw circle at var(--x) var(--y), rgba(var(--theme-lighter-background), 0.15), transparent);
    z-index: 3;
}

.card::after {
    background: radial-gradient(70vw circle at var(--x) var(--y), var(--color-secondary), transparent 40%);
    z-index: 1;
}
/*---*/

.inactiva {
    width: var(--poster-width);
    flex-grow: 0;
    flex-shrink: 0;
}

.poster {
    aspect-ratio: 1/var(--sqrt-2);
    height: var(--poster-height);
    width: var(--poster-height)/var(--sqrt-2);
    margin: 0;
    border-radius: 0.3rem;

    flex: 0 0 auto;

    transition: transform 0.2s cubic-bezier(0.12, 0.23, 0.44, 1.54);
}

.card:hover .poster {
    transform: scale(1.02);
}

.placeholder {
    background-color: var(--color-light-background);
}

.informacion {
    max-height: var(--poster-height);
    overflow: hidden;
}

.inactiva .informacion {
    animation: informacion-out 0.5s forwards;
}

@keyframes informacion-out {
    50% {
        opacity: 0;
    }
    to {
        transform: translateY(20%);
        opacity: 0;
    }
}

.elem {
    margin: 1rem 0;
}

.sinopsis {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
}

@media screen and (max-width: 768px) {
    .carrousel {
        --poster-height: 200px;
    }

    .card {
        height: calc(var(--poster-height) + 9rem);
    }

    .card_content {
        flex-wrap: wrap;
    }

    .informacion {
        width: calc(100vw - var(--poster-width) - 7rem);
    }

    .sinopsis {
        width: 100%;
        margin: 0;
    }
}