:root {
    --sqrt-2: 1.4142135623730951;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    color: var(--theme-color-primary);
    background-color: var(--theme-color-alt-background);
    font-family: sans-serif;
}

main {
    padding: 1rem 2rem;
    margin: 0;
    min-height: calc(100vh - 6.5rem);
    background-color: var(--theme-color-background);
}

h1, h2, h3, h4 {
    font-family: var(--font-gazpacho);
    color: var(--theme-color-secondary);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

footer {
    padding: 1rem;
    margin: 0;
}

@media screen and (max-width: 768px) {
    main {
        padding: 1rem;
    }
}