/* Main theme */
:root {
    --theme-color-primary: #f081c7;
    --theme-color-secondary: #f5d47a;
    --theme-color-background: #08090d;
    --theme-color-alt-background: #13151f;
}

/* Secret theme */
html[data-theme="secret"] {
    --theme-color-primary: #f5d47a;
    --theme-color-secondary: #f081c7;
    --theme-color-background: #191c29;
    --theme-color-alt-background: #222945;
}