/* Main theme */
:root {
    --theme-primary: 220, 135, 189;
    --theme-secondary: 245, 212, 122;
    --theme-background: 15, 17, 25;
    --theme-dark-background: 7, 8, 11;
    --theme-light-background: 31, 38, 63;
    --theme-lighter-background: 64, 80, 146;
}

/* Secret theme */
html[data-theme="secret"] {
    --theme-primary: 0, 0, 0;
    --theme-secondary: 100, 100, 100;
    --theme-background: 255, 255, 255;
    --theme-light-background: 0, 0, 0;
    --theme-lighter-background: 255, 255, 255;
}

html {
    --color-primary: rgb(var(--theme-primary));
    --color-secondary: rgb(var(--theme-secondary));
    --color-background: rgb(var(--theme-background));
    --color-dark-background: rgb(var(--theme-dark-background));
    --color-light-background: rgb(var(--theme-light-background));
    --color-lighter-background: rgb(var(--theme-lighter-background));
}