.main {
    max-width: 48rem;
    counter-reset: paragraph;
}

.main > p {
    font-size: 1.1rem;
    counter-increment: paragraph;
    animation: paragraph_in 0.5s both;
}

@keyframes paragraph_in {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.main em {
    /*color: var(--color-secondary);*/
}

.main strong {
    color: var(--color-secondary);
}

.main > p:nth-child(0) { animation-delay: 0.2s; }
.main > p:nth-child(1) { animation-delay: 0.3s; }
.main > p:nth-child(2) { animation-delay: 0.4s; }
.main > p:nth-child(3) { animation-delay: 0.5s; }
.main > p:nth-child(4) { animation-delay: 0.6s; }
.main > p:nth-child(5) { animation-delay: 0.7s; }
.main > p:nth-child(6) { animation-delay: 0.8s; }
.main > p:nth-child(7) { animation-delay: 0.9s; }
.main > p:nth-child(8) { animation-delay: 1.0s; }