.nav {
    margin: 0;
    padding: 0;
    height: 64px;

    background-color: var(--theme-color-dark-background);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0 16px;
    
    color: var(--theme-color-secondary)
}

.logo_alt {
    color: var(--theme-color-primary)
}

.links {
    display: flex;
    flex-grow: 0;
}

.item {
    margin: 0 16px;

    color: var(--theme-color-secondary);

    display: flex;
}

.icon {
    margin: 0 8px;

    color: var(--theme-color-primary);
}